.vscode/**
.vscode-test/**
src
out
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.vsix

# Specific files
.gitignore
webpack.config.js
CONTRIBUTING.md
package-lock.json
.prettierrc
node_modules

# Special exclusions
images
!images/icon.png